.navWrapper {
  list-style-type: none;
  margin-top: 1em;
}

.navWrapper ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navWrapper ul li {
  margin-right: 1em;
}
