@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Quicksand, Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.navContainer a svg {
  font-size: 2.5em;
}

.promptContainer svg {
  font-size: 50px;
}

.welcomeContainer {
  font-size: 42px;
  width: calc(80vw);
}

.welcomeContainer p {
  transition: transform 0.53s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.611) 1px 0px 20px;
  font-family: 'grandstander';
  text-align: center;
  font-size: 120px;
}

@media (max-width: 1199.98px) {
  .welcomeContainer p {
    font-size: 11vw;
  }
}

@media (max-width: 700.98px) {
  .welcomeContainer p {
    font-size: 14vw;
  }
}

@media (max-width: 410.98px) {
  .welcomeContainer p {
    font-size: 24vw;
  }
}

.welcomeContainer p:hover {
  transition: transform 0.36s ease-in-out;
  transform: translateY(-10px);
}

.cta {
  text-shadow: rgb(0, 0, 0) 1px 0px 20px;
  color: rgb(250, 204, 160);
  font-family: 'nunito', 'Courier New', Courier, monospace;
  font-size: 24px;
  letter-spacing: 2px;
}

.footer {
  font-family: nunito;
  text-shadow: rgb(0, 0, 0) 1px 0px 20px;
}
